<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model='firstname'>
        +
        <input type="text" v-model='lastname'>
        =
        <input type="text" v-model='fullname'>
        <hr>
        <input type="text" v-model='fullnameComputed'>
    </div>

    <script src="./node_modules/vue/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                firstname: '',
                lastname: '',
                fullname: ''
            },
            methods: {
                getFullName() {
                    return this.fullname = this.firstname + '-' + this.lastname
                }
            },
            watch: { // 监视器 ，监视属性的变化，下面设置的属性任何一个发生变化都会调用其相应设置的方法
                firstname: function () {
                    this.getFullName()
                },
                lastname: function () {
                    this.getFullName()
                }
            },
            computed: {
                fullnameComputed: function () {
                    return this.firstname + '-' + this.lastname
                }
            }
        })
    </script>
</body>

</html>